@import "tailwindcss";


@theme{

    /* Background Color  */
    --color-owndark:#24242a;



     /* <!-- Override Options --> */
     

    /* Responsive Design  */
    /* --breakpoint-*: initial;
    --breakpoint-tablet: 40rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;  */


    /* color  */
    --color-own:#24252a;
    --text-10xl:150px;

    /* Font  */
    --font-inter:'Inter','sans-serif';
    --font-Momo:'Momo Signature','sans-serif';
}  



/* Using Apply Directive */

.my-btn{

    @apply p-2 bg-blue-500 rounded font-medium m-2;
}