@import "tailwindcss";


@theme{

    /* Background Color  */
    --color-owndark:#24242a;



    --color-own:#24252a;
    --text-10xl:150px;

    /* Font  */
    --font-inter:'Inter','sans-serif';
    --font-Momo:'Momo Signature','sans-serif';
}  
