*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-variant: small-caps;
}

body{
    text-align: center;
    background-color: #24252a;
    color: white;
}

h1{
    margin: 20px;
    font-size: 20px;
}


.grid-container{
    font-weight: bold;
    border: 1px solid white;    
}

.grid-container>div{
    border: 1px solid white;
    padding: 10px;

}

.grid-container>div:nth-child(even){
    background-color: rgba(255, 255, 0, 0.986);
}

.grid-container>div:nth-child(odd){
    background-color: rgba(0, 190, 253, 0.795);
}
