*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #24252a;  
    color:rgb(0, 191, 255);
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.main-title{
    text-align: center;
    margin: 10px; 
}

.sub-title{
    color: yellow;
    margin-left:10px ;
}


ul{
    margin: 20px 0px 20px 50px ;
    font-size: 18px;

}


.main-container{
    width: 95%;

} 